In [3]:
pip --version

pip 23.1.2 from /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pip (python 3.10)
Note: you may need to restart the kernel to use updated packages.

In [13]:
import pandas as pd

In [17]:
dataframe = pd.DataFrame({
  "name": ["Muhammad Umar Mansyur", "Abu Bakar", "Ali bin Abi Thalib"],
  "age": [24, 25, 26],
  "gender": ["male", "male", "male"]
})
dataframe = dataframe.rename(columns={"age": "usia"})
dataframe

                    name  usia gender
0  Muhammad Umar Mansyur    24   male
1              Abu Bakar    25   male
2     Ali bin Abi Thalib    26   male

In [19]:
# From Umar
df = pd.DataFrame({
  "name": ["Muhammad Umar Mansyur"],
  "age": [22],
  "gender": ["male"]
})

df

                    name  age gender
0  Muhammad Umar Mansyur   22   male